{% extends 'base.html' %}
{% load static %}
{% block head%}

{% endblock %}
{% block body%}

<div class="content">
    <div>
        <h1 class="retro">그림 네모치기 레-츠고</h1>
        <h1 class="retro">재 미 있 읍 니 다 !</h1>
        <img src="{% static 'mainpage/images/mainimage.jpg' %}" alt="" width="500rem">
    </div>
    <div class="row set">
        <div class="col-sm-3">
            <div class="tile quiz retro">
                <a href="{% url 'taging:images' %}">
                    <h3>사물 찾기</h3>
                    <i class="icon-tasks icon-4x"></i>
                    <h2>BEGIN</h2>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tile speedgrader retro">
                <a href="{% url 'boxing:menu' %}">
                    <h3>숨은 그림 찾기</h3>
                    <i class="icon-dashboard icon-4x"></i>
                    <h2>BEGIN</h2>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tile mobile retro">
                <a href="{% url 'taging:images' %}">
                    <h3>Yes or No</h3>
                    <i class="icon-mobile-phone icon-4x"></i>
                    <h2>BEGIN</h2>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="tile admin retro">
                <a href="{% url 'taging:images' %}">
                    <h3>Ranking</h3>
                    <i class="icon-wrench icon-4x"></i>
                    <h2>BEGIN</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    // const cw = document.querySelector('.tile')
    // console.log(cw)
    // console.log(cw.style.width)
    // const tiles = document.querySelectorAll('.tile')
    // console.log(tiles)
    // tiles.height = cw + 'px'
</script>
{% endblock %}