<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/scss/sign.css">
  <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
  <title>SignUp</title>
</head>
<body>
  <div id="back">
    <canvas id="canvas" class="canvas-back"></canvas>
    <div class="backRight">    
    </div>
    <div class="backLeft">
    </div>
  </div>
  <div id="slideBox">
    <div class="topLayer">
      
      <div class="left">
        <div class="content">
          <h2>Sign Up</h2>
          <form id="form-signup" method="post" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            {% for field in signupform %}
            <div class="form-element form-stack">
              {{ field.errors }}
              {{ field.label_tag }} 
              {{ field }}
            </div>
            {% endfor %}
            <div class="form-element form-submit" style="position: relative;">
              <button id="signUp" class="button lb" type="submit" name="signup">Sign up</button>
              <a id="goLeft" class="button lb" style="position: absolute;">Log In</a> 
            </div>
          </form>
        </div>
      </div>
      
      <div class="right">
        <div class="content">
          <h2>Login</h2>
          <form id="form-login" method="post" action="{% url 'accounts:login' %}" >
            {% csrf_token %}
            {% for field in loginform %}
            <div class="form-element form-stack">
              {{ field.errors }}
              {{ field.label_tag }} 
              {{ field }}
            </div>
            {% endfor %}
            <div class="form-element form-submit" style="position: relative;">
              <button id="login" class="button rb" type="submit" name="login">Login</button>
              <a id="goRight" class="button rb" name="signup" style="position: absolute;">Sign Up</a>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
  <script type="text/javascript" src="../../static/js/sign.js"></script>
</body>
</html>