<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/scss/sign.css">
  <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
  <title>SignUp</title>
</head>
<body>
  <div id="back">
    <canvas id="canvas" class="canvas-back"></canvas>
    <div class="backRight">    
    </div>
    <div class="backLeft">
    </div>
  </div>
  
  <div id="slideBox">
    <div class="topLayer">
      <div class="left">
        <div class="content">
          <h2>Sign Up</h2>
          <form id="form-signup" method="post" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            {% for field in signupform %}
            <div class="form-element form-stack">
              {{ field.errors }}
              {{ field.label_tag }} 
              {{ field }}
            </div>
            {% endfor %}

            <!-- <div class="form-element form-stack">
              <label for="userid-signup" class="form-label">email</label>
              <input id="userid-signup" type="email" name="userid" placeholder="email을 입력해주세요">
            </div>
            <div class="form-element form-stack">
              <label for="password-signup" class="form-label">Password</label>
              <input id="password-signup" type="password" name="password">
            </div>
            <div class="form-element form-stack">
              <label for="passwordcheck-signup" class="form-label">Password_Check</label>
              <input id="passwordcheck-signup" type="password" name="passwordcheck">
            </div>
            <div class="form-element form-stack">
              <label for="nickname-signup" class="form-label">Nickname</label>
              <input id="nickname-signup" type="text" name="nickname">
            </div>
            <div class="form-element form-stack">
              <label for="phone" class="form-label">Phone</label>
              <input id="phone" type="number" name="phone">
            </div>
            <div class="form-element form-stack">
              <label for="birthday" class="form-label">Birthday</label>
              <input id="birthday" type="date" name="birthday">
            </div>
            <div class="form-element form-stack">
              <label for="job" class="form-label">JOB</label>
              <div class="job">
                <label for="job">직업</label>
                <input type="text" name="job" value="" id="job">
              </div>
            </div> -->
            <div class="form-element form-submit">
              <button id="signUp" class="button lb" type="submit" name="signup">Sign up</button>
              <a id="goLeft" class="button lb">Log In</a> 
            </div>
          </form>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <h2>Login</h2>
          <form id="form-login" method="post" action="{% url 'accounts:login' %}" >
            {% csrf_token %}
            {% for field in loginform %}
            <div class="form-element form-stack">
              {{ field.errors }}
              {{ field.label_tag }} 
              {{ field }}
            </div>
            {% endfor %}
            <div class="form-element form-submit">
              <button id="login" class="button rb" type="submit" name="login">Login</button>
              <a id="goRight" class="button rb" name="signup">Sign Up</a>
            </div>
          </form>
          <!-- <form id="form-login" method="post" onsubmit="return false;" action="{% url 'accounts:login' %}">
            <div class="form-element form-stack">
              <label for="userid-login" class="form-label">email</label>
              <input id="userid-login" type="text" name="userid">
            </div>
            <div class="form-element form-stack">
              <label for="password-login" class="form-label">Password</label>
              <input id="password-login" type="password" name="password">
            </div>
            <div class="form-element form-submit">
              <button id="logIn" class="login" type="submit" name="login">Log In</button>
              <button id="goRight" class="login off" name="signup">Sign Up</button>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../static/js/sign.js"></script>
</body>
</html>